body{
    margin: o;
    /* background-image: */
    background: rgb(242,232,220);
    background: linear-gradient(90deg, rgba(242,232,220,1) 37%, rgba(151,211,240,1) 64%);
    background-size: cover;
    /* background-repeat: no-repeat; */
    overflow: hidden;
    height: 100vh;
    width: 100vw;

}
#abc{
    position: absolute;
    left: 53%;
    top: 20%;
    width: 40%;
    height: 74%;
    background: #302e2e;
    box-shadow: 0rem 0rem 3rem black;
}
nav{
    width: 100%;
    height: 60px;
    background-color: #0005;
    line-height: 50px;
    position: sticky;
}
nav ul{
    float: right;
    margin-right: 30px;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    transition: 0.7s all;
}
nav ul li :hover{
    background-color: #237DE3;

}
nav ul li a{
    text-decoration: none;
    color: #fff;
    padding: 30px;
}
.navtitle{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-decoration: none;
    font-size: large;
    margin-left: 20px;
}
textarea.contact-form-text{
    resize: none;
    height: 120px;
}
.contact-form-btn{
    position: fixed;
    left: 67%;
    border: 0;
    background: #000000;
    color: #ffffff;
    padding: 10px 60px;
    border-radius: 15px;
    cursor:pointer;
}
.contact-form-btn:hover{
    background-color: #237DE3;
}
.transbox{
    margin: 30px;
    width: 400px;
    margin: auto;
    background: rgb(221,135,135);
}
.transbox p{
    margin: 5%;
    text-align: center;
    color: rgb(225,225,225);
    font-family: ThreeDDarkShadow;
    font-size: 22px;
}
.contact-form-text{
    display: block;
    width: 100%;
    margin: 5px 0;
    border-top: 0;
    border-bottom: 0.3px solid rgb(179,171,171);
    border-left: 0;
    border-right: 0;
    background: none;
    padding: 10px 15px;
    outline: none;
    color: rgb(25,143,221);

}
.thankyoumsg{
    visibility: hidden;
}
.design{
    background-color: rgb(245,245,245);
    opacity: 0.9;
    text-align: center;
    height: 200px;
    width: 300px;
    margin-top: 14%;
    margin-left: 35%;
    box-shadow: 0 0 3rem green;
}
.design h2{
    padding-top: 58px;
    color: green;
}
.design i{
    color: green;
    font-size: x-large;
}
.hidecss{
    visibility: hidden;
}
.showcss{
    visibility: visible;
}
.logo{
    position: absolute;
    top: 20%;
    left: 10%;
}
